/* Base font size */
html {
  font-size: 16px;
}

/* Custom properties */
:root {
  /* Brand */
  --color-primary: #1a365d;
  --color-secondary: #77574d;
  --color-neutral: #43474e;
  --color-danger: #bc1720;
  /* Backgrounds */
  --color-bg: #fbf8f1;
  --color-bg-nav: #fcf9f4;
  --color-bg-dropdown: #ebe8e3;
  /* Hover states */
  --color-hover-icon: #e5e2dd;
  --color-hover-button-default: #f0ede8;
  --color-hover-button-cancel: #ebe8e3;
  --color-hover-button-dropdown: #e5e2dd;
  --color-hover-card: #f9f6f1;
  --color-hover-icon-read: #7e5e55;
  /* Typography */
  --font-family-body: "Manrope", sans-serif;
  --font-family-heading: "Newsreader", serif;
  --font-size-3xs: 0.625rem; /* 10px */
  --font-size-2xs: 0.6875rem; /* 11px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.8125rem; /* 13px */
  --font-size-md: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */
  --font-size-7xl: 4.5rem; /* 72px */
  /* Border radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  /* Shadows */
  --shadow-nav: 0 16px 32px 0 rgba(28, 28, 25, 0.06);
  --shadow-button-default:
    0 20px 25px -5px rgb(0, 0, 0, 0.1), 0 8px 10px -6px rgb(0, 0, 0, 0.1);
  --shadow-button-floating: 0 25px 50px -12px rgb(0, 0, 0, 0.25);
  --shadow-button-modal: 0 32px 64px -12px rgb(0, 32, 69, 0.2);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-neutral);
  font-family: var(--font-family-body);
}

/* Nav styles */
.nav-icon {
  width: 18px;
  fill: var(--color-primary);
}

.nav-item a {
  text-decoration: none;
}
